<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Syam SriBalaji T">
    <title>QuickTest</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>

</head>
<body class="vh-100 d-flex flex-column overflow-hidden">

    <div class="d-grid bg-dark mb-2 w-100" style="grid-template-columns: 1fr 250px;">
        <div class="d-flex align-items-center justify-content-center">
            <h1 class="text-white"> Maths </h1>
        </div>

        <div class="d-flex align-items-center justify-content-center bg-secondary rounded m-2">
            <h5 class="text-white">Marks Obtained: 99/100 </h5>
        </div>
    </div>
    
    <div class="d-grid" style="grid-template-columns: 120px 1fr;">
        <!-- Section row -->
        <div class="d-flex align-items-center justify-content-center bg-dark rounded mb-2">
            <h5 class="text-white">Section</h5>
        </div>
        <div id="sectionsBlock" class="d-flex overflow-auto align-items-center mb-2" style="white-space: nowrap;">
            <button class="sectionButtons btn btn-secondary m-2"> section-1 </button>

            
            <button class="sectionButtons btn btn-secondary m-2"> section-2 </button>

            
            <button class="sectionButtons btn btn-secondary m-2"> section-3 </button>
        </div>

        <!-- Questions row -->
        <div class="d-flex align-items-center justify-content-center bg-dark rounded mb-2">
            <h5 class="text-white">Question</h5>
        </div>
        <div id="questionButtonsBlock" class="d-flex overflow-auto align-items-center mb-2" style="white-space: nowrap;">        
            <div>
                <button class="btn btn-secondary m-2">1</button>
            </div>

            <div>
                <button class="btn btn-secondary m-2">2</button>
            </div>

            <div>
                <button class="btn btn-secondary m-2">3</button>
            </div>

            <div>
                <button class="btn btn-secondary m-2">4</button>
            </div>
        </div>
    </div>

    <div id="questionBlock" class="d-flex flex-column flex-grow-1 h-100 overflow-auto" style="min-height: 0;">
        <div class="d-flex flex-column flex-grow-1 h-100 overflow-auto" style="min-height: 0;">
            <div class="d-flex flex-column flex-grow-1 overflow-auto" style="overflow-y: auto; overflow-x: hidden; min-height:0;">
                <div>
                    <div class="row mb-2 w-100 px-3 py-1">
                        <label for="questionStatement" class="col-12">Question</label>
                        <div>
                            <textarea id="questionStatement" class="form-control col-12" rows="3" required readonly>This is the sample question text</textarea>
                        </div>
                    </div>

                    <div class="row mb-2 w-100 px-3 py-1">
                        <label for="options" class="form-label">Options</label>
                        <div id="options" class="row mb-2 w-100 px-4 py-1">
                            <div class="form-check mb-2 col-12 w-100">
                                <input class="form-check-input" type="radio" id="<%= `section${i}question${j}option0` %>" disabled>
                                <label class="form-check-label" for="<%= `section${i}question${j}option0` %>" style="opacity: 1;"> Paris </label><br>
                            </div>

                            <div class="form-check mb-2 col-12 w-100">
                                <input class="form-check-input" type="radio" id="<%= `section${i}question${j}option1` %>" disabled>
                                <label class="form-check-label" for="<%= `section${i}question${j}option1` %>" style="opacity: 1;"> Berlin </label><br>
                            </div>

                            <div class="form-check mb-2 col-12 w-100">
                                <input class="form-check-input" type="radio" id="<%= `section${i}question${j}option2` %>" disabled>
                                <label class="form-check-label" for="<%= `section${i}question${j}option2` %>" style="opacity: 1;"> Delhi </label><br>
                            </div>

                            <div class="form-check mb-2 col-12 w-100">
                                <input class="form-check-input" type="radio" id="<%= `section${i}question${j}option3` %>" disabled>
                                <label class="form-check-label" for="<%= `section${i}question${j}option3` %>" style="opacity: 1;"> New York </label><br>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2 w-100 px-3 py-1">
                        <label for="markedAnswer" class="col-12">Marked Answer</label>
                        <div>
                            <input type="text" id="markedAnswer" class="form-control col-12" value="Marked answer here" required readonly>
                        </div>
                    </div>

                    <div class="row mb-2 w-100 px-3 py-1">
                        <label for="correctAnswer" class="col-12">Correct Answer</label>
                        <div>
                            <input type="text" id="correctAnswer" class="form-control col-12" value="Correct answer here" required readonly>
                        </div>
                    </div>

                </div>
            </div>


            <div class="row w-100 auto">
                <div class="col-6 d-flex justify-content-center mb-2">
                    <button id="previous" type="button" class="btn btn-secondary" style="height:60px;">Previous</button>
                </div>

                <div class="col-6 d-flex justify-content-center mb-2">
                    <!-- should create a new api for this -->
                    <button id="next" type="button" class="btn btn-secondary" style="height:60px;">Next</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row bg-dark p-2">
        <div class="col-12 d-flex justify-content-center mb-2">
            <button id="uploadButton" type="button" class="btn btn-danger">Close</button>
        </div>
    </div>
</body>
</html>